[Desktop Entry]
Name=Arcade Installer
Exec=sudo calamares
Icon=/usr/share/calamares/branding/arcade/installerLogo.png
Type=Application
Terminal=false
